.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 110px; /*УБРАТЬ НАхрен после верстки основного контента*/
    height: 100vh;

    border-right: 1px solid #dce9fe;
    padding: 0px 0px 24px;
    background: #f5f7fb;
}

.FlexLogos1 {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.FlexLogos2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.HeaderLogos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainLogos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterLogos {
    display: flex;
    justify-content: center;
}

.ImageHeader{
    width: 40px;
}

.ImageHeader2{
    width: 24px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.ImageMain {
    width: 20px;
    padding: 16px;
}

.ImageFooter {
    width: 51px;
}