.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 72px;
    border-right: 1px solid #dce9fe;
    padding: 0px 0px 24px;
    background: #f5f7fb;
    transition: left 0.3s ease;
}

.FlexLogos1 {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.FlexLogos2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.HeaderLogos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainLogos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterLogos {
    display: flex;
    justify-content: center;
}

.ImageHeader {
    width: 40px;
}

.ImageHeader2 {
    width: 24px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.ImageMain {
    width: 20px;
    padding: 16px;
}

.ImageFooter {
    width: 51px;
}

@media (max-width: 768px) {
    .Sidebar {
        position: fixed;
        top: 0;
        left: -100px;
        z-index: 10000;
    }

    .Sidebar.Active {
        left: 0;
    }

    .Overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(25, 25, 25, 0.4);
        z-index: 9999;
    }

    .ImageHeader {
        width: 32px;
    }
}